.main  {
    margin: 70px 50px; 
    width: auto;
    height: 150px;
    position: relative;
}
.deck1, .deck2, .deck3, .deck4 {
    width: 100px;
    height: 150px;
}
.card1, .card2, .card3, .card4 {
    width: 100px;
    height: 150px;
    border: 1px solid rgb(247, 143, 7);
    background-color: rgb(240, 186, 10);
    border-radius: 10px;
}
.deck1 {
    position: absolute;
    left: 0px;
}
.card1 {
    position: absolute;
    left: 0px;
}
.deck2 {
    position: absolute;
    left: 50px;
}
.card2 {
    position: absolute;
    left: 0px;
}
.deck3 {
    position: absolute;
    left: 100px;
}
.card3 {
    position: absolute;
    left: 0px;
}
.deck4 {
    position: absolute;
    left: 150px;
}
.card4 {
    position: absolute;
    left: 0px;
}
.main > div:hover > div {
    top: -40px;
    z-index: 1;
}
.main > div:hover p {
   visibility: hidden;
}