.main  {
    margin: 70px 50px; 
    position: relative;
    border: 2px solid black;
    display: block;
}
.item  {
    border: 2px solid black;
    position: relative;
    background-color: rgb(148, 240, 140);
    border-radius: 4px;
}
.item1 {
    width: 60px;
    height: 100px;
    position: absolute;
    left: 50px;
    display: block;
}
.item2 {
    width: 60px;
    height: 100px;
    position: absolute;
    left: 100px;
    display: block;
}

.item3 {
    width: 60px;
    height: 100px;
    position: absolute;
    left: 150px;
    display: block;
}

.item4 {
    width: 60px;
    height: 100px;
    left: 200px;
    display: block;
}

.backside {
    background: content-box radial-gradient(crimson, skyblue);
}

.item:hover {
    top: -20px;
    transform: rotateY(180deg);
    background: content-box radial-gradient(crimson, skyblue);
    z-index: 1;
}
.item:hover > p {
    visibility: hidden;
}
.item:hover main {
    display: none;
}