.mainer {
  height: 1910px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.side-bar {
  min-width: 0px;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.before {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 190px;
  left: 0px;
  border: 1px solid #E8E8EE;
  background-image: url(../images/arrow-1.png);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 3px;
}

.after {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 190px;
  right: 0px;
  border: 1px solid #E8E8EE;
  background-image: url(../images/arrow-2.png);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 3px;
}

.main {
  max-width: 1920px;
  height: 1910px;
  background-color: #FCFCFC;
  margin: 0 auto;
}

.header {
  width: 100%;
  background-color: #F2F2F2;
  margin: 0 auto;
}

.main > div:nth-child(2) {
  width: 100%;
  height: 83px;
  background-color: white;
  margin: 0 auto;
}

.wrapper {
  max-width: 1111px;
  height: 36px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.wrapper0 {
  max-width: 1215px;
  height: auto;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.sub-wrap-1 {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sub-wrap-1 .contact, .sub-wrap-1 .login {
  font-family: Google Sans;
  font-size: 14px;
  line-height: 16px;
  color: #4F4F4F;
  margin-right: 20px;
}

.header:nth-child(2) .wrapper {
  height: 83px;
}

.header:nth-child(2) .wrapper .sub-wrap-2 {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header:nth-child(2) .wrapper .sub-wrap-2 .menu-pic {
  margin-left: 20px;
  max-width: 180px;
  min-width: 40px;
  height: 19px;
  background-image: url(../images/menu-options.png);
  background-repeat: no-repeat;
}

.header:nth-child(2) .wrapper .sub-wrap-2 .search-bar {
  width: 651px;
  height: 44px;
  background: #FCFCFC;
  border: 1px solid #E8E8EE;
  border-radius: 3px;
  font-size: 14px;
  line-height: 16px;
  color: #828282;
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header:nth-child(2) .wrapper .sub-wrap-2 .search-bar .search-block span {
  margin: 0 10px;
}

.header:nth-child(2) .wrapper .sub-wrap-2 .search-bar .search-city {
  width: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header:nth-child(2) .wrapper .sub-wrap-2 .search-bar .search-city span:first-child {
  margin-right: 40px;
}

.header:nth-child(2) .wrapper .sub-wrap-2 .search-bar .search-city span:nth-child(2) {
  margin-left: 5px;
}

.header:nth-child(2) .wrapper .sub-wrap-2 .button {
  min-width: 218px;
  min-height: 44px;
  background: linear-gradient(245.23deg, #32228A -43.18%, #745ACD 100%), #C4C4C4;
  border-radius: 3px;
  font-size: 14px;
  line-height: 40px;
  text-align: center;
  color: #FFFFFF;
}

.main > .wrapper {
  margin: 0 auto;
  padding: 10px 10px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.main > .wrapper > div {
  min-width: 357.88px;
  min-height: 169px;
  background-color: #FF9191;
  border-radius: 5px;
  margin: 5px auto;
  color: white;
}

.main > .wrapper > div h3, .main > .wrapper > div p {
  padding: 3px 3px 5px 20px;
  margin: 0;
}

.main > .wrapper > div p {
  padding-bottom: 20px;
}

.main > .wrapper .smart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-image: url(../images/smart1.png);
  background-size: cover;
}

.main > .wrapper .car {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: #56CCF2;
  background-image: url(../images/smart2.png);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}

.line {
  margin: 27px auto;
  max-width: 1111px;
  height: 1px;
  background-color: #E8E8EE;
}

.wrapper-1 {
  max-width: 1111px;
  max-height: 36px;
  background-color: #F2F2F2;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: transparent;
}

.wrapper-1 > .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper-1 > .icons .bit {
  width: 40px;
  height: 40px;
  background-image: url(../images/bit.jpg);
  background-size: cover;
}

.wrapper-1 > .icons .arr {
  width: 20px;
  height: 20px;
  background-image: url(../images/arr.png);
  background-size: cover;
}

.wrapper-1 > div:first-child {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  font-size: 24px;
  line-height: 28px;
  color: #333333;
}

.wrapper-1 > div:nth-child(2) {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 18px;
  line-height: 21px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333333;
  display: none;
}

.wrapper-1 > div:nth-child(2) .bit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper-1 > div:nth-child(2) .bit > div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  line-height: 21px;
  color: #979FAD;
}

.wrapper-1 > div:nth-child(2) .bit > div:nth-child(2) span {
  margin-left: 4px;
}

.wrapper-2 {
  max-width: 1111px;
  height: auto;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper-2 .item {
  margin: 0 auto;
  width: 253px;
  height: 400px;
  margin-bottom: 30px;
  background-image: url(../images/chairs.png);
  background-size: cover;
  background-position: center;
}

.wrapper-3 {
  max-width: 1111px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper-3 .button-1 {
  width: 182px;
  height: 44px;
  color: #745acd;
  border: 1px solid #745acd;
  border-radius: 3px;
  text-align: center;
  line-height: 2.7;
}

@media only screen and (max-width: 1215px) {
  .mainer .side-bar {
    display: none;
  }
}

@media only screen and (max-width: 464px) {
  .main {
    min-width: 360px;
  }
}

@media only screen and (min-width: 1111px) {
  .main .header > .wrapper > .sub-wrap-2 .search-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main .wrapper-1 > div:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main .wrapper-1 > div:nth-child(3) {
    display: none;
  }
  .main > .wrapper-1 > div:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 1215px) {
  .mainer {
    max-width: 1200px;
  }
  .main {
    max-width: 1111px;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=main.css.map */