.wrapper{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 75px 12fr 5fr 1fr 8fr 75px;
    grid-gap: 3px;
    & > div{
        background-color: white;
    }
}
.item:nth-child(1){
    grid-column: span 8;
    display: flex;
    flex-wrap: wrap;
    line-height: 0;
    font-size: 2.5vw;
    
    & > div{
        min-width: 200px;
        box-sizing: border-box;
    }
    & > div:first-child{
        background-image: url(../images/maria.png);
        background-color: rgb(243, 241, 241);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        flex: 3 1 200px;
    }
    & > div:last-child{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex: 1 2 200px;
        background-color: rgb(153, 153, 151);
       
        & > div a{
            display: block; 
            color: white;
            padding: 0;
            text-decoration: none;
        }
    }
}
.item:nth-child(2){
    font-size: 2vh;
    grid-column: span 2;
    min-width: 100px;
    grid-row: 2/4;
    display: grid;
    overflow-y: scroll; 
    grid-gap: 15px;
    .lorem1{
        grid-area: lorem1;
    }
    .lorem2{
        grid-area: lorem2;
    }
    .lorem3{
        grid-area: lorem3;
    }
    .lorem4{
        grid-area: lorem4;
    }
    .lorem5{
        grid-area: lorem5;
    }
    & > div{
        margin: 2px 0 0 8px;
    }
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(minmax(80px, 1fr));
    grid-template-areas: 
        "lorem1 ."
        "lorem1 lorem2"
        "lorem3 lorem2"
        "lorem3 lorem4"
        "lorem5 lorem4"
        "lorem5 .";
}
.item:nth-child(3){
    grid-column: span 6;
    grid-row: 2/3;
    font-size: 2vh;
    position: relative;
    overflow: hidden;
    z-index: 1;
    div:nth-child(1){
        width: 690px;
        height: 48%;
        padding: 5px;
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgb(85, 226, 179);
    }
    div:nth-child(2){
        position: absolute;
        top: 51%;
        right: 0;
        padding: 5px;
        height: 49%;
        width: 600px;
        background-color: rgb(85, 226, 179); 
    }
}
.item:nth-child(4){
    grid-column: span 6;
    grid-row: 3/4;
    background-image: url(../images/pic3.jpg);
    background-position: center;
    background-size: cover;
    z-index: 1;
}
.item:nth-child(5){
    background-color: rgb(153, 153, 151);
    font-size: 2vh;
    grid-column: span 8;
    padding: 2px 8px;
    overflow: hidden;
    line-height: 1.3;
    .textmove{
        transform: translateX(100%);
        animation: textmove 30s infinite linear;
    }
}
@keyframes textmove{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}
.item:nth-child(6){
    font-size: 2vh;
    grid-column: span 8;
    display: flex;
    flex-wrap: wrap;
    max-height: 180px;
    min-height: 80px;
    overflow: hidden;
    & > div{
        min-width: 200px;
        box-sizing: border-box;
        flex: 1;
        padding: 2px 20px 0px 8px;
    }
}
.item:nth-child(7){
    grid-column: span 8;
    background-image: url(../images/hills.jpg);
    background-color: rgb(243, 241, 241);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
@media screen and (max-width: 400px) {
    .item:nth-child(5) {
        display: none;
        & > div{
            display: none;
        }
    }
  }