body {
  margin-top: 20px;
  align-items: center;
}
div {
    display: flexbox;
    height: 80px;
    width: 80px;
    color: cornsilk;
    margin: auto;
    background-color: orangered;
    position: relative;
}
div > div {
  height: 56.56px;
  width: 56.56px;
  background-color: orangered;
  position: absolute;
  transform: rotate(45deg);
  transform-origin: 0% 0%;
}
div > div + div {
  height: 56.56x;
  width: 56.56px;
  background-color:orangered;
  transform: translateX(80px) rotate(45deg);
}
div:nth-child(5n-2) {
  background-color:darksalmon;
}
div:nth-child(5n-2) div {
  background-color:darksalmon;
}
div:nth-child(5n) {
  background-color:chartreuse;
}
div:nth-child(5n) div {
  background-color:chartreuse;
}
div:nth-child(7n) {
  background-color:blue;
}
div:nth-child(7n) div {
  background-color:blue;
}
div:nth-child(9n) {
  background-color:darkolivegreen;
}
div:nth-child(9n) div {
  background-color:darkolivegreen;
}