.item1, .item2, .item3 {
  display: flex;
  width: 100px;
  height: 50px;
  color: white;
  font-size: 14px;
  background-color:#4CAF50;
  margin: 0px 0 1px 1px;
  justify-content: center;
  align-items: center;
  position: relative;
}
.menu1, .menu2, .menu3 {
  width: 100px;
  position: absolute;
  top: 0px;
  left: 101px;
  display: none;
  background-color: rgb(192, 186, 186);
}
a {
  color: black;
  font-size: 10px;
  padding: 12px 16px;
  text-decoration: none;
  text-align: center;
  display: block;
}
a:nth-child(1) {
  border-bottom: 1px solid rgb(114, 117, 114);
}
a:nth-child(2) {
  border-bottom: 1px solid rgb(114, 117, 114);
}
body > div:hover {
  background-color: green;
}
.item1:hover > div {
  display: block;
}
.item2:hover > div {
  display: block;
}
.item3:hover > div {
  display: block;
}
.menu1 a:hover {
  background-color: rgb(114, 117, 114);
  color: white;
}
.menu2 a:hover {
  background-color: rgb(114, 117, 114);
  color: white;
}
.menu3 a:hover {
  background-color: rgb(114, 117, 114);
  color: white;
}
