$side_measure: 70px;
$row_count: 6;
$column_count: 6;

body {
    height: 100vh;
    width: 100vw;
}
.general {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-1, .main-2, .main-3, .main-4, .main-5, .main-6, .main-7, .main-8, .main-9, .main-10 {
    display: flex;
    justify-content: center;
    align-items: center;
}         
@for $j from 1 through $column_count {
    .main-#{$j} { 
        @for $i from 1 through $row_count {
            .wrapper-#{$i} {
            border-right: 20px solid white;
            border-bottom: 20px solid white;
            width: $side_measure;
            height: $side_measure;
            background-image: url(../images/S1.png);   
            }
        }
    }
}

