<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Hi! Are you going for a new story?</h2>
    <h4>What do you actually want to do?</h4>
    <li><a href ='/blog/addArticle'>Add a new artcile to the <%= title %> </a></li>
    <li><a href ='/blog/editArticle'>Edit an existing artcile in the <%= title %></a></li><br>
    <button onclick='window.location.href="/"'>Back</button>
  </body>
</html>