body {
  height: 100px;
  
}
div {
  border: 1px solid green;
  padding: 5px;
  margin: 5px 5px;
  width: 100px;
  height: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
  
}
div + div {
  position: absolute;
  top: 40px;
  left: 130px;
}
