button{
  width: 120px; 
  height:45px;
  text-align: center;
  color: white;
  border: 0px;
  border-radius: 10px;
  background-color: green;
}
button ~ button {
  width: 120px; 
  height:45px;
  text-align: center;
  color: white;
  border: 0px;
  border-radius: 10px;
  background-color: red;
}