
.icon-location:before { content: '\e07a'; } /* '' */
.icon-facebook-circled:before { content: '\e0d6'; } /* '' */
.icon-linkedin-circled:before { content: '\e0de'; } /* '' */
.icon-twitter-circled:before { content: '\e0e6'; } /* '' */