.drop-container {
  height: 450px;
  width: 100px;
  margin: 0 auto;
}
.drop {
  position: absolute;
  top: -200px;
  width: 100px;
  height: 100px;
  border-radius: 100% 0% 100% 100% / 100% 0% 100% 100%;
  background-color: lightblue;
  transform: rotate(-45deg);
  animation: drop-fall 2s cubic-bezier(.86,.01,.78,.43) infinite;
}
@keyframes drop-fall {
  0% {
    top: -200px;
  }
  100% {
    top: 500px;
  }
}
.frame {
  margin: 0 auto;
  position: relative;
}
.frame1 {
  position: absolute;
  top: 85px;
  left: 600px;
  width: 300px;
  height:100px;
  border: 3px solid lightblue;
  border-radius: 50%;
  opacity: 0;
  animation: circles 2s 1.7s infinite;
}
.frame2 {
  position: absolute;
  top: 60px;
  left: 550px;
  width: 400px;
  height:150px;
  border: 3px solid lightblue;
  border-radius: 50%;
  opacity: 0;
  animation: circles 2s 1.7s infinite;
}
@keyframes circles {
  0% {
    transform: scale(0.2);
    opacity: 0;
}
10% {
  transform: scale(0.3);
  opacity: 0.1;
}
20% {
  transform: scale(0.4);
  opacity: 0.2;
}
30% {
  transform: scale(0.5);
  opacity: 0.3;
}

40% {
    transform: scale(0.6);
    opacity: 0.4;
}

50% {
    transform: scale(0.7);
    opacity: 0.7;
}

60% {
    transform: scale(0.8);
    opacity: 0.4;
}
70% {
  transform: scale(0.9);
  opacity: 0.3;
}

80% {
    transform: scale(1);
    opacity: 0.2;
}
90% {
  transform: scale(1.1);
  opacity: 0.1;
}

100% {
    transform: scale(1.2);
    opacity: 0;
}
}
